.team {
    margin-top: 20px;
    width: 100%;
    overflow: auto;
    .team-member {
        font-size: 14px;
        width: 46%;
        padding: 15px;
        background: #f5f5f5;
        border: 1px solid #ddd;
        float: left;
        overflow: auto;
        &:nth-child(even) {
            margin-left: 2%;    
        }
        &:nth-child(odd) {
            margin-right: 2%;
        }
        > img {
            border-radius: 3px;
            float: left;
            width: 100px;
            margin-right: 15px;
        }
        .info-wrap {
            float: left;
            h3 {
                margin: 8px 0 0;
            }
            img {
                display: inline-block;
                opacity: 0.4;
                margin-top: 10px;
                width: 30px;
                margin-right: 8px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .team {
        .team-member {
            width: 100%;
            &:nth-child(even),
            &:nth-child(odd) {
                margin: 0;
            }
            + .team-member {
                margin-top: 20px;
            }
        }
    }
}